* {
	margin:0px;
}
#nav-content {
	width: 1200px;
	height: 380px;
	position: relative;
	margin-top: 0px;	
}
#barra {
	width: 1365px;
	height: 75px;
	background-color: none;
	position: absolute;
	margin-top: 0px;

}
#logo {
	margin: 5px;
}
#nav-input {
	float: right;
	padding-top: 15px;
	box-sizing: inherit;
	margin-right: 170px;

}
#sign {
	background-color: #382110;
	color: white;
	border: none;
	font-weight: normal;
	padding: 5px;
	height: 28px;
	padding-top: 7px;
}
#remember_me {
	background-color: blue;
	font-size: 2px;
	margin-left: 0px;
	margin-right: 0px;
}
#forgot {
	text-decoration: blink;
	margin-left: 38px;
	color: grey;
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
	font-size: 12px;
}
#remember {
	font-size: 12px;
	color: grey;
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
	margin-left: 0px;
}
#password {
	width: 120px;
	padding: 5px;
	background-color: white;
	font-size: 13px;
}
#correo {
	width: 120px;
	padding: 5px;
	background-color: white;
	font-size: 13px;
	margin-bottom: 0px;
}
#meet-text {
	position: absolute;
	padding-top: 90px;
	padding-left: 41px;
}
#newacount {
	float: right;
	width: 280px:
	margin 25px 20px 0 0;
	font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
	position: absolute;
	margin-left: 908px;
	margin-top: 87px;

}
.new_here {
	float:  right;
	width: 280px;
	margin: 25px 20px 0 0;
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
	padding: 7px 5px;
	margin-top: 5px;
	font-size: 16px;
	background: #FFFFFF;
	border-radius: 3px;
	border: #DCD6CC 1px solid;
	color: #848380;
	resize: none;
}
#Sign_up_button {
	padding: 8px;
	border: 0px;
	border-radius: 4px;
	background-color: #fdd05f;
	font-size: 18px;
	line-height: 22px;
	width: 85px;
	margin-top: 3px;
}
#fieldPara {
	float: right;
	display: inline;
	position: absolute;
	font-size: 10px;
	margin-left: 10px;
	margin-right: 10px;
	color: grey;
	margin-top: 3px;
}
#nav_redes {
	position: absolute;
    bottom: 10px;
    right: -13px;
    width: 283px;
    height: 10px;
    margin: 0px 13px 0 0;
    vertical-align: middle;
    text-align: center;
    padding: 18px 4px 17px 0;
    background: #333333;
    border-radius: 4px 4px 0 0;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 10px;
    display: inline-flex;
    color: white;
}
#nav_redes p {
    margin: 15px;
    margin-top: -2px;
    margin-right: 5px;
    margin-left: 20px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    position: relative;
    padding-left: 17px;


}
#nav_redes a {
	padding-left: 6px;
	position: center;
	margin-top: -2;
}
#g {
	height: 25px;
}
.cuadritos {
	margin-top: -8px;
}
#h2 {
	font-size: 18px;
	font-weight: normal;
}
section {
	width: 700px;
	height: auto;
	display: inline;
	float: left;
}
.text {
	float: left;
	margin: 0 10px 10px 0;
	width: 280px;
	font-size: 13px;
}
